/***********************
 * Dashboard/global CSS
 ***********************/

html, body { 
  height: 100%; 
  margin: 0; 
  padding: 0; 
  font-family: Raleway, sans-serif;
}

#header {
  display: flex;
  justify-content: space-between;

  font-family: Montserrat, sans-serif;
  background: black;
  color: white;
  height: 40px;
  font-size: 30px;
  font-weight: 100;
  padding-top: 5px;
  padding-bottom: 5px;
}

#logo {
  color: white;
  width: 200px;
}

#header div {
  color: white;
}

#header-right {
  text-align: right;
  padding-right: 5px;
}

#parklux-text {
  padding-left: 10px;
  line-height: 50px;
  position: relative;
  bottom: 5px;
  font-weight: 400;
  text-shadow: 0px 0px 5px rgb(229, 227, 223);
  cursor: pointer;
}

#about-button, #locate-button, #history-button {
  font-family: inherit;
  font-size: 16px;
  border: 1px solid rgb(134, 134, 134);
  background-color: rgb(0, 0, 0);
  text-decoration: none;
  color: white;
  padding: 0.5em;
}

#about-button:hover, #locate-button:hover, #history-button:hover {
  border: 1px solid white;
}  

#about-button:active, #locate-button:active, #history-button:active {
  border: 1px solid white;
  background-color: rgb(53, 53, 53);
}  

#map { 
  height: calc(100% - 50px); 
}

#historical_data { 
  height: calc(100% - 50px); 
  width: 800px;
  margin: auto;
}

.marker-label-available {
  color: green;
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 12px;
  text-align: center;
  width: 60px;     
  border: 1px solid white;
  font-weight: 400;
}

.marker-label-unavailable {
  color: red;
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 12px;
  text-align: center;
  width: 60px;     
  border: 1px solid white;
  font-weight: 400;
}

.green {
  color: rgb(0, 249, 100);
}

.red {
  color: rgb(255, 54, 7);
}

.graph {
  margin-bottom: 15px !important;
}

#historical_data {
  text-align: center;
  font-size: 26px;
  font-family: Montserrat;
}

/* Responsive CSS */
@media (max-width: 700px) {
  #history-button {
    display: none;
  }

  #about-button {
    display: none;
  }

  #parklux-text, #header-right {
    font-size: 26px;
  }
}

/* Slider CSS */
/* http://codepen.io/aronwoost/pen/nlyrf */
input[type="range"] {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  width: 100%;
  height: 20px;
  margin: 0;
  border: none;
  padding: 1px 2px;
  border-radius: 14px;
  background: #232528;
  box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
  -webkit-box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
  outline: none; /* no focus outline */
}

input[type="range"]::-moz-range-track {
  border: inherit;
  background: transparent;
}

input[type="range"]::-ms-track {
  border: inherit;
  color: transparent; /* don't drawn vertical reference line */
  background: transparent;
}

input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
  background: transparent;
}

input[type="range"]::-ms-tooltip {
  display: none;
}

/* thumb */

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 40px;
  height: 18px;
  border: none;
  border-radius: 12px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #529de1), color-stop(100%, #245e8f)); /* android <= 2.2 */
  background-image: -webkit-linear-gradient(top , #529de1 0, #245e8f 100%); /* older mobile safari and android > 2.2 */;
  background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%); /* W3C */
}
input[type="range"]::-moz-range-thumb {
  width: 40px;
  height: 18px;
  border: none;
  border-radius: 12px;
  background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%); /* W3C */
}

input[type="range"]::-ms-thumb {
  width: 40px;
  height: 18px;
  border-radius: 12px;
  border: 0;
  background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%); /* W3C */
} 
