<!DOCTYPE html>
<html>
<head>
  <title>ParkLux</title>
  <link rel="shortcut icon" type="image/png" href="/static/img/favicon.png"/>
 
  <link rel="stylesheet" type="text/css" href="/static/css/parklux.css">
  <link rel="stylesheet" type="text/css" href="/static/css/sweetalert2.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,500,600,300,200,100|Montserrat' rel='stylesheet' type='text/css'>

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDoeLCcdn1Z4makB-jaZ-zy4VifBw8Zjl0&libraries=drawing"></script>
  <script type="text/javascript" src="https://cdn.firebase.com/js/client/2.3.1/firebase.js"></script>
  <script type="text/javascript" src="/static/js/markerwithlabel_packed.js"></script>
  <script type="text/javascript" src="/static/js/jquery.2.1.4.min.js"></script>
  <script type="text/javascript" src="/static/js/sweetalert2.min.js"></script>

  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
</head>

<body>
  <div id="header">
    <div>
      <span id="parklux-text"><i class="fa fa-car"></i>&nbsp;ParkLux</span>
    </div>
    <div></div>
    <div id="header-right">
      <button id="history-button" class="pure-button">Live Data&nbsp;&nbsp;<i class="fa fa-clock-o"></i></button>
      <button id="about-button" class="pure-button">About&nbsp;&nbsp;<i class="fa fa-question"></i></button>
    </div>
  </div>
  <div id="historical_data">
    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
  </div>

  <script src="/static/js/history.js"></script>
</body>
</html>
